
body{
    background-color:rgb(166,23,23)
   
}
/* .mainDish{
    position:relative;
    left:15%;
    top:20%;
    width: 400px;
    height: 400px;
} */



.sideDish1{
    position:absolute;
    left:2%;
    top:5%;
    width: 400px;
    height: 400px;
}

.sideDish2{
    position:absolute;
    right:3%;
    top:2%;
    width:400px;
    height: 400px;
}



.sideDish3{
    position: absolute;
    left: 10%;
    bottom:5%;
    width: 400px;
    height: 400px;
    
}

.sideDish4{
    position:absolute;
    left: 60%;
    bottom: 10%;
    width: 400px;
    height: 400px;
}




